
*{

    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font: bold 12px Arial, Helvetica, sans-serif;
    background-color: black;
}

.clock {

    color: aliceblue;
    border: 2px solid #f3f1f1;
    padding: 40px;
    border-radius: 10px; 
    background-color: #222222;

}

#date {
    font-size: 20px;
    text-align: center;

}

.clock ul{
    list-style: none;
    display: flex;
    font-size: 90px;
    gap: 15px;

}